<ul class="search-card__statistics_list list" *ngIf="statistics; else customCardTitle">
  <li
    class="search-card__statistics_item"
    *ngFor="let statisticLabel of statisticLabels"
  >
    <span class="statistics__icon icon_{{ statisticLabel }}">
      <mat-icon>{{ labelsIcons[statisticLabel] }}</mat-icon>
    </span>
    <span class="statistics__count count_{{ statisticLabel }}">
      {{ statistics[statisticLabel] }}
    </span>
  </li>
</ul>

<ng-template #customCardTitle>
  <p class="custom-card-title">
    Custom Card
  </p>
</ng-template>