<form class="search-form form" name="search">
  <mat-form-field class="search-form-field" appearance="outline">
    <mat-label>Youtube video title</mat-label>
    <input 
      class="search-form-input search-input input" 
      matInput 
      type="search" 
      name="searchValue"
      [(ngModel)]="searchValue" 
      autocomplete="off"
    >
    <button 
      class="search-clear-button"
      *ngIf="searchValue" 
      matSuffix 
      mat-icon-button 
      aria-label="clear search input" 
      (click)="searchValue=''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button 
    class="search-form-button submit-button main-button" 
    mat-button 
    type="submit"
  >
    search
  </button>
</form>