<span class="user-login">
  {{ userLogin | slice:0:MAX_USER_LOGIN_LENGTH | titlecase }}
</span>
<img 
  class="user-avatar shadow" 
  src="../../../assets/images/default-user-avatar.png" 
  alt="User avatar"
>
<button
    class="button-logout form-button main-button button shadow"
    type="button"
    aria-label="Logout"
    mat-button
    (click)="logout()"
    *ngIf="isUserLogged; else goToLoginButton"
  >
    Logout
</button>

<ng-template #goToLoginButton>
  <button
      class="button-login form-button main-button button shadow"
      type="button"
      aria-label="Go to login page"
      mat-button
      (click)="goToLogin()"
  >
    Login
  </button>
</ng-template> 