// customize search input field of the searching form
.mat-form-field .mat-form-field-infix {
  border: 0;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
}

.search-form-field {
  &.mat-form-field .mat-form-field-infix .mat-input-element {
    padding-top: 5px;
  }

  &.mat-form-field-appearance-outline .mat-form-field-prefix,
  &.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0;
  }

  &.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
  &.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    width: 24px;
    height: 24px;
  }

  &.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $main-color;
  }

  &.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: $secodary-bg-color-light;
  }

  &.mat-form-field-appearance-outline .mat-form-field-flex {
    margin-top: -8px;
  }

  &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  &.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    width: 133%;

    color: $main-dark-color;

    transform: translateY(-1em) scale(0.75);
  }

  &.mat-form-field-appearance-outline .mat-form-field-prefix, 
  &.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -2px;
  }

  &.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .3em 0 .75em;
  }
}

// customize clear button input field of the filtering form
.filtering-form .clear-button {
  .mat-button-focus-overlay {
    display: none;
  }

  .mat-button-ripple {
    display: none;
  }
}

// customize material expansion panel of the sorting block
.mat-expansion-panel .mat-expansion-panel-body {
  padding: 0;
}

// customize material progress-spinner
mat-spinner.mat-progress-spinner circle, 
mat-spinner.mat-spinner circle {
    stroke: $main-color;
}