// COLORS
$main-color: #2F80ED;
$main-dark-color: #000000;
$main-light-color: #FFFFFF;

// BACKGROUND-COLORS
$main-bg-color-light: #E5E5E5;
$secodary-bg-color-light: #EFEFEF;

// BORDERS-COLORS
$main-red: #EB5757;
$main-green: #27AE60;
$main-yellow: #F2C94C;
$main-blue: #2F80ED;

// FONTS-COLORS
$main-font-color: #000000;
$secodary-font-color: #929292;

$main-dark-font-color: #4F4F4F;
$secodary-dark-font-color: #333333;

$main-light-font-color: #FFFFFF;
$secodary-light-font-color: #2F80ED;
